In [1]:
import pandas as pd

In [2]:
#heading country year sales profit

In [3]:
import numpy as np

In [15]:
data={"Region":["Asia","Asia","Europe","Europe","America","America"],"Country":["China","India","France","Germany","America","Canada"],"Year":[2025,2023,2024,2022,2021,2025],"Sales":[2000,30000,40000,50000,60000,70000],"Profit":[300,400,500,600,700,600]}

In [16]:
df=pd.DataFrame(data)

In [17]:
df

    Region  Country  Year  Sales  Profit
0     Asia    China  2025   2000     300
1     Asia    India  2023  30000     400
2   Europe   France  2024  40000     500
3   Europe  Germany  2022  50000     600
4  America  America  2021  60000     700
5  America   Canada  2025  70000     600

In [20]:
#dataframa is a 2d data (rows,columns). It is used for queries in sql. it creates the table manually

In [27]:
df.groupby("Region")["Sales"].mean()

Region
America    65000.0
Asia       16000.0
Europe     45000.0
Name: Sales, dtype: float64