In [3]:
import pandas as pd
import numpy as np

In [4]:
nba=pd.read_csv("/Users/teisya/Desktop/nba.csv")

In [5]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
DS=nba["Salary"]*2

In [7]:
DS

0       9113966.0
1      37400000.0
2       8188488.0
3      41232000.0
4       5163044.0
          ...
587     3439728.0
588    20500000.0
589           NaN
590    16390244.0
591           NaN
Name: Salary, Length: 592, dtype: float64

In [8]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
nba["Salary"]=nba["Salary"]

In [10]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
nba["DS"]=DS

In [12]:
nba

,Name,Team,Position,Height,Weight,College,Salary,DS
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,8188488.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,5163044.0
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,3439728.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,20500000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,16390244.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
nba.sort_values("Position",ascending=True)

,Name,Team,Position,Height,Weight,College,Salary,DS
98,Damian Jones,Cleveland Cavaliers,C,6-11,245.0,Vanderbilt,2586665.0,5173330.0
92,Jarrett Allen,Cleveland Cavaliers,C,6-9,243.0,Texas,20000000.0,40000000.0
89,Nikola Vucevic,Chicago Bulls,C,6-10,260.0,Southern California,18518519.0,37037038.0
432,Mo Bamba,Philadelphia 76ers,C,7-0,231.0,Texas,2346614.0,4693228.0
435,Dewayne Dedmon,Philadelphia 76ers,C,6-10,245.0,Southern California,2748674.0,5497348.0
...,...,...,...,...,...,...,...,...
138,Armaan Franklin,Denver Nuggets,NaN,NaN,NaN,NaN,1119563.0,2239126.0
299,Caleb Daniels,Miami Heat,NaN,NaN,NaN,NaN,1119563.0,2239126.0
541,Kevin Obanor,Toronto Raptors,NaN,6-8,235.0,NaN,1119563.0,2239126.0
564,Nick Ongenda,Utah Jazz,NaN,NaN,NaN,NaN,1119563.0,2239126.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
nba

,Name,Team,Position,Height,Weight,College,Salary,DS
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,8188488.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,5163044.0
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,3439728.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,20500000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,16390244.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
nba["sport"]="football"

In [16]:
nba

,Name,Team,Position,Height,Weight,College,Salary,DS,sport
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,9113966.0,football
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,37400000.0,football
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,8188488.0,football
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,41232000.0,football
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,5163044.0,football
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,3439728.0,football
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,20500000.0,football
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,NaN,football
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,16390244.0,football
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,football

In [18]:
nba=pd.read_csv('/Users/teisya/Desktop/nba.csv',usecols=["Team","Position","Name"],index_col=["Name"])

In [19]:
nba

                                 Team Position
Name
Saddiq Bey              Atlanta Hawks        F
Bogdan Bogdanovic       Atlanta Hawks        G
Kobe Bufkin             Atlanta Hawks        G
Clint Capela            Atlanta Hawks        C
Bruno Fernando          Atlanta Hawks      F-C
...                               ...      ...
Ryan Rollins       Washington Wizards        G
Landry Shamet      Washington Wizards        G
Tristan Vukcevic   Washington Wizards        F
Delon Wright       Washington Wizards        G
NaN                               NaN      NaN

[592 rows x 2 columns]

In [20]:
nba.sort_values("Team",ascending=True)

                                Team Position
Name
Saddiq Bey             Atlanta Hawks        F
Trae Young             Atlanta Hawks        G
Onyeka Okongwu         Atlanta Hawks      F-C
Miles Norris           Atlanta Hawks      NaN
Dejounte Murray        Atlanta Hawks        G
...                              ...      ...
Deni Avdija       Washington Wizards        F
Tristan Vukcevic  Washington Wizards        F
Anthony Gill      Washington Wizards        F
Delon Wright      Washington Wizards        G
NaN                              NaN      NaN

[592 rows x 2 columns]

In [21]:
nba

                                 Team Position
Name
Saddiq Bey              Atlanta Hawks        F
Bogdan Bogdanovic       Atlanta Hawks        G
Kobe Bufkin             Atlanta Hawks        G
Clint Capela            Atlanta Hawks        C
Bruno Fernando          Atlanta Hawks      F-C
...                               ...      ...
Ryan Rollins       Washington Wizards        G
Landry Shamet      Washington Wizards        G
Tristan Vukcevic   Washington Wizards        F
Delon Wright       Washington Wizards        G
NaN                               NaN      NaN

[592 rows x 2 columns]

In [22]:
nba.sort_values(["Team","Position"],ascending=True)

                              Team Position
Name
Clint Capela         Atlanta Hawks        C
Saddiq Bey           Atlanta Hawks        F
AJ Griffin           Atlanta Hawks        F
Mouhamed Gueye       Atlanta Hawks        F
Jalen Johnson        Atlanta Hawks        F
...                            ...      ...
Jordan Poole    Washington Wizards        G
Ryan Rollins    Washington Wizards        G
Landry Shamet   Washington Wizards        G
Delon Wright    Washington Wizards        G
NaN                            NaN      NaN

[592 rows x 2 columns]

In [23]:
nba

                                 Team Position
Name
Saddiq Bey              Atlanta Hawks        F
Bogdan Bogdanovic       Atlanta Hawks        G
Kobe Bufkin             Atlanta Hawks        G
Clint Capela            Atlanta Hawks        C
Bruno Fernando          Atlanta Hawks      F-C
...                               ...      ...
Ryan Rollins       Washington Wizards        G
Landry Shamet      Washington Wizards        G
Tristan Vukcevic   Washington Wizards        F
Delon Wright       Washington Wizards        G
NaN                               NaN      NaN

[592 rows x 2 columns]

In [24]:
nba.sort_values(["Team","Position"],ascending=True)

                              Team Position
Name
Clint Capela         Atlanta Hawks        C
Saddiq Bey           Atlanta Hawks        F
AJ Griffin           Atlanta Hawks        F
Mouhamed Gueye       Atlanta Hawks        F
Jalen Johnson        Atlanta Hawks        F
...                            ...      ...
Jordan Poole    Washington Wizards        G
Ryan Rollins    Washington Wizards        G
Landry Shamet   Washington Wizards        G
Delon Wright    Washington Wizards        G
NaN                            NaN      NaN

[592 rows x 2 columns]

In [25]:
nba.sort_index(ascending=True)

                                 Team Position
Name
A.J. Lawson          Dallas Mavericks        G
AJ Green              Milwaukee Bucks        G
AJ Griffin              Atlanta Hawks        F
Aaron Gordon           Denver Nuggets        F
Aaron Holiday         Houston Rockets        G
...                               ...      ...
Zach LaVine             Chicago Bulls        G
Zeke Nnaji             Denver Nuggets      F-C
Ziaire Williams     Memphis Grizzlies        F
Zion Williamson  New Orleans Pelicans        F
NaN                               NaN      NaN

[592 rows x 2 columns]