In [4]:
import pandas as pd
import numpy as np

In [6]:
nba=pd.read_csv("/Users/teisya/Desktop/nba.csv")

In [7]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
nba["Height"].str.split("-",expand=True) #it is not embedded in the original column

       0    1
0      6    7
1      6    5
2      6    5
3      6   10
4      6   10
..   ...  ...
587    6    3
588    6    4
589    6   10
590    6    5
591  NaN  NaN

[592 rows x 2 columns]

In [9]:
nba[["feet","inch"]]=nba["Height"].str.split("-",expand=True) #expand true helps embedded in the table

In [10]:
nba[["feet","inch"]]

    feet inch
0      6    7
1      6    5
2      6    5
3      6   10
4      6   10
..   ...  ...
587    6    3
588    6    4
589    6   10
590    6    5
591  NaN  NaN

[592 rows x 2 columns]

In [11]:
nba

,Name,Team,Position,Height,Weight,College,Salary,feet,inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6,7
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6,5
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6,5
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6,10
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6,10
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6,3
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6,4
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6,10
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6,5
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
 7   feet      585 non-null    object
 8   inch      585 non-null    object
dtypes: float64(2), object(7)
memory usage: 41.8+ KB

In [13]:
nba.feet=nba.feet.astype("float")

In [14]:
nba[["feet","inch"]]=nba["Height"].str.split("-",expand=True)

In [15]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
 7   feet      585 non-null    object
 8   inch      585 non-null    object
dtypes: float64(2), object(7)
memory usage: 41.8+ KB

In [16]:
nba[["feet","inch"]]=nba[["feet","inch"]].apply(pd.to_numeric) #this changes both columns unlike astype

In [17]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
 7   feet      585 non-null    float64
 8   inch      585 non-null    float64
dtypes: float64(4), object(5)
memory usage: 41.8+ KB

In [18]:
nba["feet"]*30.48+nba["inch"]*2.54

0      200.66
1      195.58
2      195.58
3      208.28
4      208.28
        ...
587    190.50
588    193.04
589    208.28
590    195.58
591       NaN
Length: 592, dtype: float64

In [19]:
nba["Height_Combined_in_cm"]=nba["feet"]*30.48+nba["inch"]*2.54

In [20]:
nba

,Name,Team,Position,Height,Weight,College,Salary,feet,inch,Height_Combined_in_cm
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6.0,7.0,200.66
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6.0,5.0,195.58
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6.0,5.0,195.58
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6.0,10.0,208.28
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6.0,10.0,208.28
...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6.0,3.0,190.50
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6.0,4.0,193.04
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6.0,10.0,208.28
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6.0,5.0,195.58
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
nba.drop("Height_Combined_in_cm",axis=1,inplace=True) #hence height_combined_in_cm was deleted from the table

In [ ]:
nba

In [22]:
nba.drop("Height_Combined_in_cm",axis=1,inplace=True)

In [23]:
nba

,Name,Team,Position,Height,Weight,College,Salary,feet,inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6.0,7.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6.0,5.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6.0,5.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6.0,10.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6.0,10.0
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6.0,3.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6.0,4.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6.0,10.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6.0,5.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
nba["Combined_in_cm"]=(nba["feet"]*30.48)+(nba["inch"]*2.54)

In [27]:
nba

,Name,Team,Position,Height,Weight,College,Salary,feet,inch,Combined,Combined_in_cm
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6.0,7.0,200.66,200.66
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6.0,5.0,195.58,195.58
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6.0,5.0,195.58,195.58
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6.0,10.0,208.28,208.28
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6.0,10.0,208.28,208.28
...,...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6.0,3.0,190.50,190.50
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6.0,4.0,193.04,193.04
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6.0,10.0,208.28,208.28
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6.0,5.0,195.58,195.58
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
nba.drop("Combined_in_cm",axis=1,inplace=True)

In [29]:
nba

,Name,Team,Position,Height,Weight,College,Salary,feet,inch,Combined
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6.0,7.0,200.66
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6.0,5.0,195.58
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6.0,5.0,195.58
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6.0,10.0,208.28
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6.0,10.0,208.28
...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6.0,3.0,190.50
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6.0,4.0,193.04
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6.0,10.0,208.28
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6.0,5.0,195.58
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
nba

,Name,Team,Position,Height,Weight,College,Salary,feet,inch,Combined
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6.0,7.0,200.66
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6.0,5.0,195.58
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6.0,5.0,195.58
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6.0,10.0,208.28
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6.0,10.0,208.28
...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6.0,3.0,190.50
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6.0,4.0,193.04
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6.0,10.0,208.28
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6.0,5.0,195.58
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
nba.Height.str.split("-",expand=True)

       0    1
0      6    7
1      6    5
2      6    5
3      6   10
4      6   10
..   ...  ...
587    6    3
588    6    4
589    6   10
590    6    5
591  NaN  NaN

[592 rows x 2 columns]

In [34]:
nba[["Hee","Dee"]]=nba.Height.str.split("-",expand=True)

In [36]:
nba.loc[nba["Combined"]>200,["Name","Combined"]]

                 Name  Combined
0          Saddiq Bey    200.66
3        Clint Capela    208.28
4      Bruno Fernando    208.28
7      Mouhamed Gueye    210.82
8     De'Andre Hunter    203.20
..                ...       ...
578        Taj Gibson    205.74
579      Anthony Gill    203.20
582        Kyle Kuzma    205.74
583      Mike Muscala    210.82
589  Tristan Vukcevic    208.28

[297 rows x 2 columns]

In [39]:
nba[(nba.Combined>200) & (nba.Combined<250)][["Combined","Name"]]

     Combined              Name
0      200.66        Saddiq Bey
3      208.28      Clint Capela
4      208.28    Bruno Fernando
7      210.82    Mouhamed Gueye
8      203.20   De'Andre Hunter
..        ...               ...
578    205.74        Taj Gibson
579    203.20      Anthony Gill
582    205.74        Kyle Kuzma
583    210.82      Mike Muscala
589    208.28  Tristan Vukcevic

[297 rows x 2 columns]