In [4]:
import pandas as pd
import numpy as np

In [5]:
pd.read_csv("/Users/teisya/Desktop/nba.csv")

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
nba=pd.read_csv("/Users/teisya/Desktop/nba.csv")

In [7]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
nba.dropna() #drops all rows which is bad

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [9]:
nba.dropna(how="all") #droppped row when all values in tht row are N/A

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [10]:
nba.dropna(subset=["College"]) #drops rows tht are na in college

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [11]:
#use dropna subset instead of dropping generically based on wt question is asking

In [12]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
nba.Salary=nba.Salary.fillna(0) #fills salary na values with na

In [14]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [15]:
nba.College=nba.College.fillna("Unknown")

In [16]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,Unknown,0.0

In [17]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   592 non-null    object
 6   Salary    592 non-null    float64
dtypes: float64(2), object(5)
memory usage: 32.5+ KB

In [18]:
#Filtering

In [19]:
nba.loc[:,["Name","Team","Position"]].head()  #: means go through the dataset, it is important for filtering

                Name           Team Position
0         Saddiq Bey  Atlanta Hawks        F
1  Bogdan Bogdanovic  Atlanta Hawks        G
2        Kobe Bufkin  Atlanta Hawks        G
3       Clint Capela  Atlanta Hawks        C
4     Bruno Fernando  Atlanta Hawks      F-C

In [20]:
nba[["Name","Team","Position"]] #Not useful for filtering

                  Name                Team Position
0           Saddiq Bey       Atlanta Hawks        F
1    Bogdan Bogdanovic       Atlanta Hawks        G
2          Kobe Bufkin       Atlanta Hawks        G
3         Clint Capela       Atlanta Hawks        C
4       Bruno Fernando       Atlanta Hawks      F-C
..                 ...                 ...      ...
587       Ryan Rollins  Washington Wizards        G
588      Landry Shamet  Washington Wizards        G
589   Tristan Vukcevic  Washington Wizards        F
590       Delon Wright  Washington Wizards        G
591                NaN                 NaN      NaN

[592 rows x 3 columns]

In [21]:
#Advanced Filtering/Condition

In [22]:
nba.loc[nba["Position"]=="G",["Name","Team","Position"]] #gives position that is only G

                  Name                Team Position
1    Bogdan Bogdanovic       Atlanta Hawks        G
2          Kobe Bufkin       Atlanta Hawks        G
5        Trent Forrest       Atlanta Hawks        G
10          Seth Lundy       Atlanta Hawks        G
11    Garrison Mathews       Atlanta Hawks        G
..                 ...                 ...      ...
584      Kendrick Nunn  Washington Wizards        G
586       Jordan Poole  Washington Wizards        G
587       Ryan Rollins  Washington Wizards        G
588      Landry Shamet  Washington Wizards        G
590       Delon Wright  Washington Wizards        G

[229 rows x 3 columns]

In [23]:
nba.loc[nba["Position"]=="F",["Name","Team","Position"]]

                 Name                Team Position
0          Saddiq Bey       Atlanta Hawks        F
6          AJ Griffin       Atlanta Hawks        F
7      Mouhamed Gueye       Atlanta Hawks        F
9       Jalen Johnson       Atlanta Hawks        F
18      Dalano Banton      Boston Celtics        F
..                ...                 ...      ...
579      Anthony Gill  Washington Wizards        F
581     Corey Kispert  Washington Wizards        F
582        Kyle Kuzma  Washington Wizards        F
585    Eugene Omoruyi  Washington Wizards        F
589  Tristan Vukcevic  Washington Wizards        F

[187 rows x 3 columns]

In [24]:
#Adding a column/changing it to 5% increment

In [25]:
nba["Salary_In"]=nba["Salary"]*1.05 #broadcasting function

In [26]:
nba

,Name,Team,Position,Height,Weight,College,Salary,Salary_In
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,4784832.15
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,19635000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,4298956.20
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,21646800.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,2710598.10
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,1805857.20
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,10762500.00
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0,0.00
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,8604878.10
591,NaN,NaN,NaN,NaN,NaN,Unknown,0.0,0.00

In [27]:
#create new dataframe table using dataframe

In [28]:
Table={"Name":["Teisya",np.nan,"Rain",np.nan,"Power"],"Register":[1,2,3,4,5],"Class":["A",np.nan,"B","C","D"],"Score":[78,12,56,65,30]}

In [29]:
Table

{'Name': ['Teisya', nan, 'Rain', nan, 'Power'],
 'Register': [1, 2, 3, 4, 5],
 'Class': ['A', nan, 'B', 'C', 'D'],
 'Score': [78, 12, 56, 65, 30]}

In [30]:
df=pd.DataFrame(Table)

In [31]:
df

     Name  Register Class  Score
0  Teisya         1     A     78
1     NaN         2   NaN     12
2    Rain         3     B     56
3     NaN         4     C     65
4   Power         5     D     30

In [32]:
New=df

In [33]:
New

     Name  Register Class  Score
0  Teisya         1     A     78
1     NaN         2   NaN     12
2    Rain         3     B     56
3     NaN         4     C     65
4   Power         5     D     30

In [34]:
New.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      3 non-null      object
 1   Register  5 non-null      int64
 2   Class     4 non-null      object
 3   Score     5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [35]:
nba.iloc[:10,3] #iloc is index

0     6-7
1     6-5
2     6-5
3    6-10
4    6-10
5     6-4
6     6-6
7    6-11
8     6-8
9     6-8
Name: Height, dtype: object

In [36]:
nba[(nba["Salary"]>4000000) & (nba["Salary"]<5500000)]

,Name,Team,Position,Height,Weight,College,Salary,Salary_In
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,4784832.15
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,4298956.20
30,Payton Pritchard,Boston Celtics,G,6-1,195.0,Oregon,4037277.0,4239140.85
56,James Bouknight,Charlotte Hornets,G,6-4,190.0,Connecticut,4570080.0,4798584.00
115,Josh Green,Dallas Mavericks,G,6-7,200.0,Arizona,4765339.0,5003605.95
144,Reggie Jackson,Denver Nuggets,G,6-2,208.0,Boston College,5000000.0,5250000.00
149,Zeke Nnaji,Denver Nuggets,F-C,6-9,240.0,Arizona,4306281.0,4521595.05
162,Jalen Duren,Detroit Pistons,C,6-11,250.0,Memphis,4330680.0,4547214.00
171,Isaiah Stewart,Detroit Pistons,F-C,6-8,250.0,Washington,5266713.0,5530048.65
225,Jalen Smith,Indiana Pacers,F-C,6-9,215.0,Maryland,5043773.0,5295961.65
247,Mason Plumlee,Los Angeles Clippers,F-C,7-0,254.0,Duke,5000000.0,5250000.00
264,Taurean Prince,Los Angeles Lakers,F,6-6,218.0,Baylor,4516000.0,4741800.00
269,Jarred Vanderbilt,Los Angeles Lakers,F,6-8,214.0,Kentucky,4698000.0,4932900.00
291,Ziaire Williams,Memphis Grizzlies,F,6-9,185.0,Stanford,4810200.0,5050710.00
337,Nickeil Alexander-Walker,Minnesota Timberwolves,G,6-5,205.0,Virginia Tech,4687500.0,4921875.00
348,Shake Milton,Minnesota Timberwolves,G-F,6-5,205.0,Southern Methodist,5000000.0,5250000.00
358,Jordan Hawkins,New Orleans Pelicans,G,6-5,190.0,Connecticut,4310196.0,4525705.80
384,Immanuel Quickley,New York Knicks,G,6-2,190.0,Kentucky,4171548.0,4380125.40
394,Ousmane Dieng,Oklahoma City Thunder,F,6-9,185.0,New Zealand Breakers,4798440.0,5038362.00
404,Aleksej Pokusevski,Oklahoma City Thunder,F,7-0,210.0,Olympiacos,5009633.0,5260114.65
407,Cason Wallace,Oklahoma City Thunder,G,6-4,195.0,Kentucky,5291352.0,5555919.60
411,Jalen Williams,Oklahoma City Thunder,G-F,6-5,211.0,Santa Clara,4558680.0,4786614.00
424,Jett Howard,Orlando Magic,G,6-8,215.0,Michigan,5026824.0,5278165.20
427,Chuma Okeke,Orlando Magic,F,6-8,229.0,Auburn,5266712.0,5530047.60
442,Furkan Korkmaz,Philadelphia 76ers,G-F,6-7,202.0,Anadolu Efes,5370370.0,5638888.50
443,Tyrese Maxey,Philadelphia 76ers,G,6-2,200.0,Kentucky,4343920.0,4561116.00
491,Chris Duarte,Sacramento Kings,G,6-5,190.0,Oregon,4124400.0,4330620.00
500,Davion Mitchell,Sacramento Kings,G,6-0,202.0,Baylor,5063640.0,5316822.00
524,Jeremy Sochan,San Antonio Spurs,F,6-8,230.0,Baylor,5316960.0,5582808.00
528,Precious Achiuwa,Toronto Raptors,F,6-8,225.0,Memphis,4379526.0,4598502.30
532,Gradey Dick,Toronto Raptors,G,6-8,205.0,Kansas,4536708.0,4763543.40
539,Jalen McDaniels,Toronto Raptors,F-C,6-9,205.0,San Diego State,4516000.0,4741800.00
549,Ochai Agbaji,Utah Jazz,G,6-5,215.0,Kansas,4114200.0,4319910.00
575,Johnny Davis,Washington Wizards,G,6-4,195.0,Wisconsin,5050800.0,5303340.00

In [37]:
#groupby

In [38]:
import pandas as pd
import numpy as np

In [39]:
pd.read_csv("/Users/teisya/Desktop/fortune1000.csv")

,Rank,Company,Sector,Industry,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...,...
995,996,New York Community Bancorp,Financials,Commercial Banks,1902,-47,3448
996,997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
998,999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,1896,161,21200
999,1000,Briggs & Stratton,Industrials,Industrial Machinery,1895,46,5480

In [40]:
fortune=pd.read_csv("/Users/teisya/Desktop/fortune1000.csv",index_col="Rank")

In [41]:
fortune

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,1895,46,5480

In [42]:
df=pd.DataFrame(fortune)

In [43]:
df.groupby("Sector")["Profits"].sum()

Sector
Aerospace & Defense              28742
Apparel                           8236
Business Services                28227
Chemicals                        22628
Energy                          -73447
Engineering & Construction        5304
Financials                      260209
Food and Drug Stores             16759
Food, Beverages & Tobacco        51417
Health Care                     106114
Hotels, Resturants & Leisure     20697
Household Products               14428
Industrials                      20764
Materials                         4428
Media                            24347
Motor Vehicles & Parts           25898
Retailing                        47830
Technology                      180473
Telecommunications               48637
Transportation                   44169
Wholesalers                       8233
Name: Profits, dtype: int64

In [44]:
#an alternate is:

In [45]:
sectors=fortune.groupby("Sector")

In [46]:
sectors

In [47]:
#how to find out how many total sectors

In [48]:
len(sectors) #use len function to fin total of how many sectors are there

21

In [49]:
#21 total sectors are there in the dataset

In [50]:
sectors.size() #size of the sector sectorwise using size funtion

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [51]:
sectors.first() #sectors in first provides a whole table overview, first company is Boeing. In the dataset whatever is the first company in ytht sector

,Company,Industry,Revenue,Profits,Employees
Sector,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,96114,5176,161400
Apparel,Nike,Apparel,30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,19330,419,27000
Chemicals,Dow Chemical,Chemicals,48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,78756,7036,110000
Industrials,General Electric,Industrial Machinery,140389,-6126,333000
Materials,Alcoa,Metals,22534,-322,60000
Media,Disney,Entertainment,52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,152356,9687,215000
Retailing,Walmart,General Merchandisers,482130,14694,2300000
Technology,Apple,"Computers, Office Equipment",233715,53394,110000
Telecommunications,AT&T,Telecommunications,146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,48681,687,51700

In [52]:
sectors.last() #company names are different here

,Company,Industry,Revenue,Profits,Employees
Sector,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,1923,-133,12000
Apparel,Guess,Apparel,2204,82,13500
Business Services,DeVry Education Group,Education,1910,140,11770
Chemicals,H.B. Fuller,Chemicals,2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,1896,161,21200
Household Products,Revlon,Household and Personal Products,1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,1895,46,5480
Materials,Schnitzer Steel Industries,Metals,1924,-197,2955
Media,Cenveo,"Publishing, Printing",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,1920,365,4178
Telecommunications,Equinix,Telecommunications,2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,1917,-12,1600

In [53]:
#Nested loop

In [54]:
#Getgroup function- getgrop is a loop

In [55]:
sectors.get_group("Energy")["Profits"].sum()

-73447

In [56]:
sectors.get_group("Apparel")["Profits"].sum()

8236

In [57]:
fortune.groupby(["Industry","Sector"])["Profits"].sum()

Industry                                       Sector
Advertising, marketing                         Business Services       1549
Aerospace and Defense                          Aerospace & Defense    28742
Airlines                                       Transportation         23800
Apparel                                        Apparel                 8236
Automotive Retailing, Services                 Retailing               2550
                                                                      ...
Waste Management                               Business Services       1718
Wholesalers: Diversified                       Wholesalers             5193
Wholesalers: Electronics and Office Equipment  Wholesalers             1857
Wholesalers: Food and Grocery                  Wholesalers             1166
Wholesalers: Health Care                       Health Care             3361
Name: Profits, Length: 79, dtype: int64

In [58]:
sectors.get_group("Energy") #groups all energy

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
14,Chevron,Energy,Petroleum Refining,131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,64566,2852,45440
...,...,...,...,...,...,...
981,WPX Energy,Energy,"Mining, Crude-Oil Production",1958,-1727,1040
983,Adams Resources & Energy,Energy,Petroleum Refining,1944,-1,809
995,EP Energy,Energy,"Mining, Crude-Oil Production",1908,-3748,665
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646

In [59]:
sectors["Revenue"].sum()  #sum of all revenues sectors

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [60]:
#sector and industry size

In [139]:
sectors.agg({"Employees":"sum","Profits":"sum"})  #aggregate gives the sum or mean or ur column

                              Employees  Profits
Sector
Aerospace & Defense              968057    28742
Apparel                          346397     8236
Business Services               1361050    28227
Chemicals                        463651    22628
Energy                          1188927   -73447
Engineering & Construction       406708     5304
Financials                      3359948   260209
Food and Drug Stores            1395398    16759
Food, Beverages & Tobacco       1211632    51417
Health Care                     2678289   106114
Hotels, Resturants & Leisure    2484245    20697
Household Products               646038    14428
Industrials                     1545229    20764
Materials                        638123     4428
Media                            550314    24347
Motor Vehicles & Parts          1082560    25898
Retailing                       6227629    47830
Technology                      3578949   180473
Telecommunications               832468    48637
Transportation                  1536793    44169
Wholesalers                      525597     8233

In [62]:
#show output which index starts with something, show industry only retailing filtering

In [63]:
#rearrange and sort data in ascending or descending

In [64]:
#if employees are more is profits more or less

In [65]:
fortune

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,1895,46,5480

In [66]:
#company is retailing and in this the number are employees if its more than profit is high or low

In [67]:
sectors.get_group("Retailing")

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
15,Costco,Retailing,Specialty Retailers: Other,116199,2377,161000
28,Home Depot,Retailing,Specialty Retailers: Other,88519,7009,385000
38,Target,Retailing,General Merchandisers,73785,3363,341000
47,Lowe’s,Retailing,Specialty Retailers: Other,59074,2546,225000
...,...,...,...,...,...,...
899,Sears Hometown & Outlet Stores,Retailing,Specialty Retailers: Other,2288,-27,2918
922,Outerwall,Retailing,Specialty Retailers: Other,2195,44,2670
937,hhgregg,Retailing,Specialty Retailers: Other,2129,-133,4941
940,Restoration Hardware,Retailing,Specialty Retailers: Other,2109,91,4200
973,99 Cents Only Stores,Retailing,Specialty Retailers: Other,1999,-232,18200

In [68]:
#find the two companies in each sectors with most employees

In [69]:
def count(n:int):
    if n>50000:
        return(n)

In [70]:
#question: top two companies that have the highest profits in retail industry

In [90]:
def retail(df):
    r = sectors.get_group("Retailing")
    return r.loc[r["Profits"] > 10000, ["Company","Profits"]]


retail(df)

      Company  Profits
Rank
1     Walmart    14694

In [121]:
def sal(df):
    s = sectors.get_group("Retailing")
    return s.nlargest(2, "Profits")[["Company","Profits"]]

sal(df)

         Company  Profits
Rank
1        Walmart    14694
28    Home Depot     7009

In [168]:
def sal(df):
    s = sectors.get_group("Retailing")
    return s.loc[s["Profits"]>10000,["Company","Profits"]]

sal(df)

      Company  Profits
Rank
1     Walmart    14694

In [141]:
sectors.get_group("Retailing")

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
15,Costco,Retailing,Specialty Retailers: Other,116199,2377,161000
28,Home Depot,Retailing,Specialty Retailers: Other,88519,7009,385000
38,Target,Retailing,General Merchandisers,73785,3363,341000
47,Lowe’s,Retailing,Specialty Retailers: Other,59074,2546,225000
...,...,...,...,...,...,...
899,Sears Hometown & Outlet Stores,Retailing,Specialty Retailers: Other,2288,-27,2918
922,Outerwall,Retailing,Specialty Retailers: Other,2195,44,2670
937,hhgregg,Retailing,Specialty Retailers: Other,2129,-133,4941
940,Restoration Hardware,Retailing,Specialty Retailers: Other,2109,91,4200
973,99 Cents Only Stores,Retailing,Specialty Retailers: Other,1999,-232,18200

In [146]:
fortune

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,1895,46,5480

In [173]:
def top_two_companies(df):
    # returns the 2 companies with the most employees
    return df.nlargest(2, "Employees")[["Sector","Company","Employees"]]

top_two_companies(df)

                            Sector     Company  Employees
Rank
1                        Retailing     Walmart    2300000
218   Hotels, Resturants & Leisure  Yum Brands     505000

In [174]:
df

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,1895,46,5480

In [176]:
def top(df):
    return df.nlargest(2,"Employees")[["Company","Employees"]]

top(df)

         Company  Employees
Rank
1        Walmart    2300000
218   Yum Brands     505000

In [178]:
def top(df):
    s=df.groupby("Sector").get_group("Retailing")
    return s.nlargest(2,"Profits")[["Company","Profits"]]
top(df)

         Company  Profits
Rank
1        Walmart    14694
28    Home Depot     7009

In [181]:
def top(df):
    s=df.groupby("Sector").get_group("Retailing")
    return s.loc[s["Profits"]>1000,["Profits","Company"]]
top(df)

      Profits         Company
Rank
1       14694         Walmart
15       2377          Costco
28       7009      Home Depot
38       3363          Target
47       2546          Lowe’s
89       2278             TJX
103      1072          Macy’s
139      1165  Dollar General
234      1253        L Brands
237      1021     Ross Stores
280      1160        AutoZone

In [195]:
def top(df):
    return fortune.sort_values("Employees",ascending=False).head(2)[["Sector","Employees"]]
top(df)

                            Sector  Employees
Rank
1                        Retailing    2300000
218   Hotels, Resturants & Leisure     505000

In [198]:
def top(df):
    s=fortune.groupby("Sector").get_group("Retailing")
    return s.sort_values("Profits",ascending=False).head(2)[["Profits","Company"]]

top(df)

      Profits     Company
Rank
1       14694     Walmart
28       7009  Home Depot